.imgBlock {
  width: 100%;
  display: flex;
  align-items: center;
}

.nameBlock {
  display: flex;
  justify-content: space-between;
}
.imgBlock1 {
  display: flex;
  flex-wrap: wrap;
}

.imgBlock1 :nth-child(2) {
  width: 150px;
  height: 150px;
}

.imgBlock1 :nth-child(3) {
  width: 150px;
  height: 150px;
}
.imgBlock1 :nth-child(4) {
  width: 150px;
  height: 150px;
}
.imgBlock1 :nth-child(5) {
  width: 150px;
  height: 150px;
}

.imgBlock1 :first-child {
  width: 400px;
  height: 400px;
}
.favoriteButton {
  width: 25px;
  height: 25px;
  cursor: pointer;
  /* position: absolute; */
  /* z-index: 112013; */
}
.favoriteButton img {
  width: 25px;
  height: 25px;
  margin: 0;
}
.favoriteButtonAdded {
  width: 25px;
  height: 25px;
  cursor: pointer;
  /* background-color: red; */
}
.favoriteButtonAdded img {
  width: 25px;
  height: 25px;
  margin: 0;
}