.block {
  width: 100px;
  height: 40px;
  border: 1px solid rgba(223, 219, 219, 0.42);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 5px 0 10px;
}
.block:hover{
  box-shadow: -1px 4px 6px 0px rgba(34, 60, 80, 0.2);
  /* box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2); */
}

.hrs {
  margin-top: 6px;
}

.avatarBack img {
  width: 15px;
  height: 15px;
}

.avatarBack {
  background: rgb(223, 219, 219);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  position: relative;
}

.main a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
  letter-spacing: -0px;
  transition: 0.3s;
  font-weight: 500;
  
}

.main a:hover {
  padding: 5px 10px;
  background: rgba(189, 186, 186, 0.199);
  border-radius: 30px;
}

.popUp{
  width: 203px;
  position: absolute;
  top: 55px;
  right: 0;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 0px 10px rgba(134, 133, 133, 0.733);
  padding: 20px;
  z-index: 1;
}

.popUp a {
  display: block;
  padding: 5px;
}