.otzivv{
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.textOt{
    margin-bottom: 60px;
}

.blockFor{
}

.blockForOtzivs{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatarName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .deleteBut{
  background: #fff;
  font-size: small;
  border: 1px solid rgb(41, 149, 195);
  border-radius: 5px;
  padding: 5px 8px;
  margin-top: 10px;
  }

  .formm{
    display: flex;
    width: 700px;
  }