.footer {
  display: flex;
  justify-content: space-between;
  z-index: 99999999991;
  padding: 0 10px;
  background: #fff;
  border-top: 1px solid rgb(220, 211, 211);
  width: 1200px;
  margin-top: 20px;
  position: absolute;
}
.footNav {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  list-style: none;
  font-size: 14px;
}
.footMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  /* position: fixed; */
}
.footMenu img {
  width: 20px;
  height: 20px;
}

.language{
  display: flex;
  align-items: center;
}

.languageImg img {
  object-fit: cover;
}

.languageText{
  margin-left: 5px;
}

.link{
  text-decoration: none;
  color: black;
}